/*===========================================*/
/* Colors */
/*===========================================*/
$cPrimary: #ff6464;
$cRed: #ec5863;
$cPrimaryShade1: #e65a5a;

$cBlue: #4285f4;
$cBlueShade1: #3b78dc;
$cDark: #000;
$cLight: #8eb6f8;
$cGreyText: #616161;
$cGreyText2: #b0b0b0;
$cAppShadow: #f0f0f0;
$cLightText: #fcfdfe;
$cContainerBg: #fafbfd;
$cLightOverlay: rgba(142, 182, 248, 0.95);
/*===========================================*/
