.header {
    @extend %full-width-flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    min-height: 11.4rem;

    // .header__logo

    &__logo {
    }
    // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container
    // .header__menu

    &__menu {
        margin-left: auto;
        padding: 0 1rem;
        display: inline-flex;
        @media (max-width: (calc($tabletRem*10)+px)) {
            height: 5rem;
        }
        display: block;
        // position: absolute;
        top: 3.6rem;
        right: 4rem;
        height: 1.8rem;
        z-index: 10;
    }

    // .header__btn

    &__btn {
        flex: 0 0 25.2rem;
        display: flex;
        justify-content: flex-end;
    }
    &__btn-link {
        &:link,
        &:visited {
            @extend %btn;
            color: #fcfdfe;
        }
        &:hover,
        &:active {
            @extend %btn;
        }
    }
}

._c-blue {
    background-color: $cBlue;
}
._c-red {
    background-color: $cPrimary;
}

%btn {
    display: inline-block;
    font-family: "Raleway";
    font-weight: 800;
    font-size: 1rem;
    padding: 1.2rem 2.8rem;
    border-radius: 5px;
    letter-spacing: 0.14em;
}
.menu {
    // .menu__icon

    &__icon {
        display: none;
        // @extend %header-template;
        @media (max-width: (calc($tabletRem*10)+px)) {
            display: block;
            position: absolute;
            top: -0.5rem;
            right: -1rem;
            width: 3rem;
            height: 0.8rem;
            z-index: 10;
            transform: scale(1.4);
            cursor: pointer;
            span {
                transition: all 0.3s ease 0s;
                top: -0.5rem;
                left: 0;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $cDark;
                &:first-child {
                    top: 0;
                }
                &:last-child {
                    top: auto;
                    bottom: 0;
                }
            }
        }
        &._active {
            span {
                z-index: 10;
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }
                &:last-child {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                }
            }
        }
    }

    // .menu__body

    &__body {
        @media (max-width: (calc($tabletRem*10)+px)) {
            transform: translateY(-100%);
            padding: 9rem;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $cLightOverlay;
            z-index: 1;
            transition: all 0.4s ease-out;
            overflow: auto;

            &._active {
                transform: translateY(0);
            }
        }
    }

    // .menu__list

    &__list {
        position: relative;
        z-index: 10;
        display: flex;
        gap: 4rem;
        align-items: center;
        justify-content: flex-end;
        @media (max-width: (calc($tabletRem*10)+px)) {
            align-items: center;
            flex-direction: column;
        }
    }

    // .menu__link

    &__link a {
        @media (max-width: (calc($tabletRem*10)+px)) {
            .link__text {
                font-family: "Raleway";
                font-style: normal;
                font-weight: 700;
                font-size: 1rem;
                line-height: 1.2rem;
                /* identical to box height */

                letter-spacing: 0.14em;
            }
        }
        &:link,
        &:visited {
            font-family: "Raleway";
            font-style: normal;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.2rem;
            /* identical to box height */

            letter-spacing: 0.14em;
            transition: color 0.3s;
        }
        &:hover,
        &:active {
            font-weight: 500;
            font-size: 2rem;
            color: $cPrimary;
        }
    }
}

/*
Burger menu styles

.icon-menu {
    display: none;
    @media (max-width: (calc($tabletRem*10)+rem)) {
        display: block;
        position: absolute;
        top: 1.8rem;
        right: 1rem;
        width: 3rem;
        height: 1.8rem;
        cursor: pointer;
        z-index: 5;
        span {
            transition: all 0.3s ease 0s;
            top: calc(50% - 1px);
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
            &:first-child {
                top: 0;
            }
            &:last-child {
                top: auto;
                bottom: 0;
            }
            &._active {
                span {
                    transform: scale(0);
                    &:first-child {
                        transform: rotate(-45deg);
                        top: calc(50% - 1px);
                    }
                    &:last-child {
                        transform: rotate(45deg);
                        bottom: calc(50% - 1px);
                    }
                }
            }
        }
    }
}


*/
