.stay-safe {
    width: 100%;
    display: flex;
    @include mq(tablet, max) {
        gap: 4rem;
    }
    align-items: center;

    @include mq(tablet, max) {
        flex-direction: column;
    }

    // .stay-safe__app

    &__app {
        min-width: 50%;
        // padding: 12.5rem 0 9.5rem 0;
        @include mq(tablet, max) {
            // padding: 5rem 0 5rem 0;
        }
    }

    // .stay-safe__main-text

    &__main-text {
        // max-width: 50%;
        padding: 3.5rem 0 3.5rem;
        margin-bottom: 7rem;
        @include mq(tablet, max) {
            margin-bottom: 0;
        }
    }
}

%rect_red {
    position: absolute;
    background-color: $cRed;
    border-radius: 3rem;
    z-index: -1;
}

.app-start {
    // .app-start__rect

    &__rect {
        // .app-start__rect_big

        &_big {
            @extend %rect_red;
            top: 0;
            left: 0;
            max-width: 14.7rem;
            max-height: 14.7rem;
        }

        // .app-start__rect_small-left

        &_small-left {
            @extend %rect_red;
            width: 7.7rem;
            height: 7.7rem;
            bottom: 0;
            left: 3.2rem;
        }

        // .app-start__rect_small-right

        &_small-right {
            @extend %rect_red;
            bottom: 11.3rem;
            right: 0;
            width: 7.7rem;
            height: 7.7rem;
        }
    }

    // .app-start__screen

    &__screen {
        position: relative;
        // width: 100%;
        // height: 100%;

        width: 34rem;
        height: 54.2rem;

        display: block;
        margin-top: 5.6rem;
        margin: 5.6rem 0 0 4rem;
        @include mq(tablet, max) {
            margin: 0;
            margin-bottom: 4rem;
        }
        z-index: 5;
        border-radius: 1rem;

        img {
            width: 67%;
            // position: relative;
            // box-shadow: 0.3rem -0.3rem 1.7rem 0.8rem rgba(0, 0, 0, 0.1);
            position: absolute;
            z-index: 10;
            object-fit: contain;
            border-radius: 2rem;
            top: 5rem;
            left: 7rem;
        }
    }

    &__rect_shadow {
        position: absolute;
        width: 96%;
        height: 100%;
        top: 4.2rem;
        left: 7.4rem;
        border-radius: 2.3rem;
        z-index: 6;
        opacity: 0.5;
        box-shadow: 0 2rem 0 0rem $cAppShadow;
    }
}

.article {
    // .article__title

    &__title {
        span {
            color: $cRed;
        }
    }

    // .article__description

    // &__description {
    // }

    // .article__cta

    // &__cta {
    // }
}

.app-img-container {
    position: relative;
    width: 23rem;
    height: 46rem;
    &::after {
        content: "";
        position: absolute;
        width: 20.6rem;
        height: 2.7rem;
        left: 8.2rem;
        bottom: -6.2rem;
        z-index: 1;
        background: $cAppShadow;
        // background-color: red;
        border-radius: 16px;
        @include mq(tablet, max) {
            bottom: -11.2rem;
        }
    }
}
